/bower_components
/node_modules
/public/build
/public/css
/public/fonts
/public/images/vendor
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
*~
yarn.lock
composer.lock
